/* ----- ----- -----
 * Common CSS for anomis66.github.io
 * 
 * Created: 30 Nov 2017 - Simon Arthur
 * ----- ----- ----- */
 
@import url('https://fonts.googleapis.com/css?family=News+Cycle|Patua+One');
 
/*
font-family: 'Patua One', cursive;
font-family: 'News Cycle', sans-serif;
*/
 
body, html {
    height: 100%;
	font-size: 100%;
}
body {
	margin-top: 50px;
	background: #151515;
	/* background: linear-gradient(#000, #369); /* Vertical - Standard Syntax */
	background: linear-gradient(to right, #000, #963); /* Horizontl - Standard Syntax */
	/* background: linear-gradient(to bottom right, #000, #036); /* Diagonal - Standard Syntax */
	/* background: linear-gradient(-45deg, #000, #630); /* Angle - Standard Syntax */
	/* background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); /* Multistop - Standard Syntax */
}
	color: #fff;
	font-family: 'News Cycle', sans-serif;
}
.navbar-fixed-top {
	margin-bottom: 50px !important;
}

h1, h2, h3 {
	font-family: 'Patua One', cursive;
}
img {
	margin: 1em 2em;
	padding: 2em;
	position: relative;
	max-width: 96%;
	height: auto;
	position: relative;
}


.parallax {
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.paratext {
	background-color: rgba(255,255,255,0.8);
	color: #333;
	font-size: 1em;
	margin: 1em 3em;
	padding: 2em;
	position: relative;
	max-width: 72em;
	border-radius: 5px;
}


@media only screen and (max-device-width: 800px) {
	img {
		margin: 5px;
		padding: 2px;
		max-width: 100%;
	}
    .parallax {
        // background-attachment: scroll;
		height: 100%;
		width: 100%;
    }
	.paratext {
		font-size: 1em;
		margin: 1em 2%;
		padding: 1em;
		max-width: 96%;
	}
}

