/* ----- ----- -----
 * Common CSS for anomis66.github.io
 * 
 * Created: 30 Nov 2017 - Simon Arthur
 * ----- ----- ----- */
 
@import url('https://fonts.googleapis.com/css?family=News+Cycle|Patua+One');
 
/*
font-family: 'Patua One', cursive;
font-family: 'News Cycle', sans-serif;
*/
 
body {
	font-family: 'News Cycle', sans-serif;
	margin-top: 70px;
}

.parallax {
    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3 {
	font-family: 'Patua One', cursive;
}