/* --- BOOK LISTING STYLES --- */



#addbooks div {
	margin: 0 0 0.5em 0;
}

#csv-list .record span {
	border-bottom: 0;
	text-transform: capitalize;
}



.books .record span:first-of-type {
	font-weight: 600;
	width: 100%;
}
.books .record span:nth-of-type(2) {
	width: 70%;
}
.books .record span:nth-of-type(3) {
	width: 30%;
}
.books .record span:nth-of-type(4) {
	width: 70%;
}
.books .record span:nth-of-type(5),
.books .record span:nth-of-type(6) {
	width: 15%;
}
.books .record span:nth-of-type(7) {
	width: 40%;
}
.books .record span:nth-of-type(8) {
	font-style: italic;
}



img.bee {
	max-width: 90px;
}



@media (min-width: 768px) {

	.books .record span:first-of-type {
		font-weight: 600;
		width: 30%;
	}
	.books .record span:nth-of-type(2) {
		width: 20%;
	}
	.books .record span:nth-of-type(3) {
		width: 10%;
	}
	.books .record span:nth-of-type(4) {
		width: 15%;
	}
	.books .record span:nth-of-type(5),
	.books .record span:nth-of-type(6) {
		width: 5%;
	}
	.books .record span:nth-of-type(7) {
		width: 15%;
	}
	.books .record span:nth-of-type(8) {
		font-style: italic;
	}

	img.bee {
		max-width: 150px;
	}

}

/* style sheet for all printing */
@media print {
	
	.books .record span:first-of-type {
		width: 30%;
	}
	.books .record span:nth-of-type(2) {
		width: 15%;
	}
	.books .record span:nth-of-type(3) {
		width: 5%;
	}
	.books .record span:nth-of-type(4) {
		width: 10%;
	}
	.books .record span:nth-of-type(5),
	.books .record span:nth-of-type(6) {
		width: 3%;
	}
	.books .record span:nth-of-type(7) {
		width: 10%;
	}
	.books .record span:nth-of-type(8) {
		font-style: italic;
	}

}