/* --- BOOK LISTING STYLES --- */



#addbooks div {
	margin: 0 0 0.5em 0;
}

#csv-list .record span {
	border-bottom: 0;
	text-transform: capitalize;
}



.books .record span:first-of-type { /* Title */
	color: #c33;
	font-size: 1.1em;
	font-weight: 600;
	width: 100%;
}
/* --- 2nd Row --- */
.books .record span:nth-of-type(4),  /* Year */
.books .record span:nth-of-type(2) { /* Series */ 
	width: 40%;
}
.books .record span:nth-of-type(3) { /* Order */
	width: 20%;
}
/* --- 3rd Row --- */
.books .record span:nth-of-type(5) { /* Format */
	width: 40%;
}
.books .record span:nth-of-type(6) {  /* Publisher */
	width: 60%;
}
/* --- 4th Row --- */
.books .record span:nth-of-type(7) { /* ISBN */
	width: 40%;
}
.books .record span:nth-of-type(8), /* Edition */
.books .record span:nth-of-type(9), /* Print */
.books .record span:nth-of-type(10) { /* Pages */
	width: 20%;
}
.books .record span:nth-of-type(10)::before { /* Pages */
	content: "p";
}
.books .record span:nth-of-type(11) { /* Condition */
	width: 100%;
	font-style: oblique;
}



@media (min-width: 768px) {

	.books .record span:first-of-type { /* Title */
		width: 40%;
	}
	.books .record span:nth-of-type(2) { /* Series */
		font-weight: 600;
		width: 30%;
	}
	.books .record span:nth-of-type(3) { /* Sequence */
		font-weight: 600;
		width: 20%;
	}
	.books .record span:nth-of-type(4) { /* Year */
		width: 10%;
	}
/* --- 2nd row output --- */
	.books .record span:nth-of-type(5),  /* Format */
	.books .record span:nth-of-type(6) { /* Publisher */
		font-size: 85%;
		width: 20%;
	}
	.books .record span:nth-of-type(7) { /* ISBN */
		font-size: 85%;
		width: 20%;
	}
	.books .record span:nth-of-type(8),  /* Edition */
	.books .record span:nth-of-type(9),  /* Print */
	.books .record span:nth-of-type(10) { /* Pages */
		font-size: 85%;
		width: 10%;
	}
	.books .record span:nth-of-type(11) { /* Condition */
		font-size: 85%;
	}


}
