/* ----- ----- -----
 * Common CSS for anomis66.github.io
 * 
 * Created: 30 Nov 2017 - Simon Arthur
 * Revised: 
 * ----- ----- ----- */

/* Color Schema ----- *
	Primary: 			#
	Primary Dark:		#
	Secondary:			#
	Secondary Dark:		#
	Mono:				#
	Mono Dark: 			#
 * ----- ----- ----- */

@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat&display=swap');

/* Fonts ----- *
font-family: 'Montserrat', sans-serif;
font-family: 'Handlee', cursive;
/* ----- ----- ----- */
 
body {
	background: linear-gradient(to bottom right, #151515, #000);
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 1em;
	line-height: 1.3em;
	padding: 0.3em;
	max-width: 100%;
}
nav {
	border-bottom: 1px solid #c33;
	margin: 0 0 1em 0;
}
nav a {
	border-bottom: 1px solid #c33;
	display: block;
	padding: 1em;
}
.logo {
	background: #fff;
	border-radius: 50%;
	margin: 0;
	padding: 5px;
	width: 90px;
}
.lead {
	font-size: 1.15rem;
	font-weight: 600;
}
.left {
	float: left;
	clear: left;
}
.right {
	float: right;
	clear: right;
}
.center {
	text-align: center;
	margin: 0 auto;
}
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
}
h1 {
	font-size: 1.6em;
	line-height: 1.1em;
}

/* ----- Quotes ----- */
q {
	display: block;
	font-family: 'Handlee', cursive;
	font-size: 1.5em;
	line-height: 1.1em;
}
cite {
	clear: right;
	display: block;
	float: right;
	margin: 0.6em;
}
cite::before {
	content: "- ";
}



/* ----- ANCHORS ----- */
a {
	padding: 0.15em 0.3em;
	color: #c90;
	font-weight: 600;
	text-decoration: none;
}
a:active,
a:hover,
a:focus {
	background: #c33;
	color: #fff;
}
/* ----- USED IN FAMILY TREE ----- */
a[name] {
	border: 0;
	padding: 0;
	margin: 0;
}
a[name]:active,
a[name]:hover,
a[name]:focus {
	border: 0;
}



/* ----- FOOTER ----- */
footer {
	clear: both;
}
footer p {
	border-top: 1px solid #c33;
	/* border-bottom: 1px solid #666; */
	font-size: 0.9em;
	/* line-height: 1.8em; */
}
#qrcode {
	/* background-image: url('../../includes/images/anomis66_jack_100s.png'); */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 1em auto;
}
#qrcode:hover img {
	display: block;
}
#qrcode img {
	display: none;
}



/* ----- MESSAGES ----- */
.success, .error, .info, .warning {
	border: 1px solid #ccc;
	border-radius: 5px;
	color: #000;
	display: block;
	padding: 5px 10px;
	font-weight: 600;
}
.success {
	border: 1px solid #33691e;
	background: #dcedc8;
}
.error {
	border: 1px solid #b71c1c;
	background: #ffcdd2;
}
.warning {
	border: 1px solid #ff6f00;
	background: #ffecb3;
}
.info {
	border: 1px solid #01579b;
	background: #b3e5fc;
}



/* ----- USED IN GENEALOGY ----- */
img.tree {
	width: 100%;
	max-width: 360px
}



/* ----- FORMS ----- */
form {
	clear: both;
	display: block;
}
fieldset {
	border: 1px solid #666;
	/* border-radius: 5px; */
	/* box-shadow: 2px 2px 4px #666; */
}
form div {
	margin-bottom: 0.5em; 
}
label {
	display: block;
	padding: 0 1em 0 0;
}
input[type="number"],
input[type="text"],
select, 
textarea {
	border: 1px solid #666;
	border-radius: 5px;
	padding: 0.25em 0.5em;
	width: 100%;
	
	text-transform: capitalize;
}
textarea {
	height: 5em;
}
.btn {
	border-radius: 5px;
	padding: 0.5em 0.75em;
}
span.required {
	font-weight: 600;
	color: #c33;
}




/* --- CSV List --- */
#csv-list {
	width: auto;
}
/* --- Each Row --- */
#csv-list .record {
	border-top: 2px solid #000;
	border-bottom: 2px solid #300;
	font-size: 0.9em;
	line-height: 1.5em;
}
/* --- Add Stripes --- */
#csv-list .record:nth-child(odd)  { 
	/* background-color: #151515; */
}
/* --- Highlight Action --- */
#csv-list .record:hover,
#csv-list .record:active,
#csv-list .record:focus {
	background-color: #c90;
	font-weight: 600;
}
/* --- Inline Cells --- */
#csv-list .record span {
	border-bottom: 1px dotted #666;
	display: inline-block;
	padding: 1px 0.15em;
	vertical-align: top;
}
/* --- Header Style --- */
#csv-list .record:first-of-type  {
	background: #300;
	color: #fff;
	font-weight: 600;
	text-transform: capitalize;
	font-variant: small-caps;
}
/* --- File Row Count --- */
#csv-count {
}

/* --- Ajax Loading Graphic --- */
#loading {
	text-align: center;
}
#loading img {
	width: 150px;
}









/* ----- LARGE SCREEN PRESENTATION ----- */
@media (min-width: 768px) {

	body {
		line-height: 1.2em;
		margin: 2em auto;
		max-width: 60em;
		width: 100%;
	}
	nav a {
		border: 1px solid #ccc;
		border-width: 1px 1px 0 1px;
		/* border-radius: .3em .3em 0 0; */
		display: inline-block;
		margin-right: 0.3em;
		padding: 0.3em;
	}
	.active {
		background: #600;
		border: 1px solid #c33;
		border-width: 1px 1px 0 1px;
		color: #fff;
		font-weight: 600;
	}
	label {
		display: inline-block;
		width: 20%;
		text-align: right;
	}
	textarea,
	input[type="text"],
	select {
		width: 60%;
	}
	#csv-list .record {
		font-size: 0.9em;
		border-bottom: 1px solid #300;
	}
	#csv-list .record span {
		border: 0;
	}

}



/* style sheet for all printing */
@media print {

	body {
		color: #333;
		font-size: 11pt;
		line-height: 110%;
		margin: 0 auto;
		max-width: 100%;
		width: 100%;
	}
	@page {
		size: A4 landscape;
	}
	#csv-list .record:nth-child(odd)  { 
		background-color: #fff;
	}
	#csv-list .record span {
		padding: 1px 2px;
	}
	.movie .record span:first-of-type,
	.movie .record span:nth-of-type(2) {
		background-color: #f5f5f5;
	}
	.hidden-print {
		display: none;
	}

	#qrcode img {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}

}

