/* ----- ----- -----
 * Common CSS for anomis66.github.io
 * 
 * Created: 30 Nov 2017 - Simon Arthur
 * Revised: 
 * ----- ----- ----- */

/* Color Schema ----- *
	Primary: 			#afb42b
	Primary Light:		#f9fbe7
	Primary Dark:		#827717
	Secondary:			#f57c00
	Secondary Light:	#ffe0b2
	Secondary Dark:		#e65100
 * ----- ----- ----- */

body {
	background: #f9fbe7;
	font-size: 1em;
	line-height: 1.5em;
	margin: 5px;
	max-width: 100%;
}
nav {
	border-bottom: 1px solid #f57c00;
	margin: 0 0 1em 0;
}
nav a {
	padding: 2px 4px;
	display: block;
}
.logo {
	background: #fff;
	border-radius: 50%;
	margin: 0;
	padding: 5px;
	width: 100px;
}
.lead {
	font-size: 1.15rem;
	font-weight: 600;
}
.left {
	float: left;
	clear: left;
}
.right {
	float: right;
	clear: right;
}
.center {
	text-align: center;
	margin: 0 auto;
}
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
}
h1 {
	font-size: 1.5em;
	/* line-height: 1.3em; */
}

/* ----- Quotes ----- */
q {
	display: block;
	font-family: cursive;
	font-size: 1.1em;
}
cite {
	float: right;
	clear: right;
}
cite::before {
	content: "- ";
}


/* ----- ANCHORS ----- */
a {
	background: #f9fbe7;
	border-radius: 0.3em;
	color: #827717;
	text-decoration: none;
}
a:active,
a:hover,
a:focus {
	background: #ffe0b2;
	color: #f57c00;
}
/* ----- USED IN FAMILY TREE ----- */
a[name] { 
	border: 0;
	padding: 0;
	margin: 0;
}
a[name]:active,
a[name]:hover,
a[name]:focus { 
	border: 0;
}



/* ----- FOOTER ----- */
footer {
	margin: 1em 0;
	font-size: 0.85em;
	clear: both;
}
#qrcode {
	background-image: url('../../includes/images/anomis66_jack_100s.png');
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 1em auto;
}
#qrcode:hover img {
	display: block;
}
#qrcode img {
	display: none;
}



/* ----- MESSAGES ----- */
.success, .error, .info {
	border: 1px solid #eee;
	border-radius: 5px;
	color: #000;
	padding: 5px 10px;
	font-weight: 600;
}
.success {
	border: 1px solid #33691e;
	background: #dcedc8;
}
.error {
	border: 1px solid #b71c1c;
	background: #ffcdd2;
}
.info {
	border: 1px solid #01579b;
	background: #b3e5fc;
}



/* ----- USED IN GENEALOGY ----- */
img.tree {
	width: 100%;
	max-width: 360px
}



/* ----- FORMS ----- */
form {
	clear: both;
	display: block;
}
fieldset {
	border: 1px solid #f57c00;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #ffe0b2;
}
form div {
	margin-bottom: 0.5em; 
}
label {
	display: block;
	padding: 0 1em 0 0;
}
input[type="number"],
input[type="text"],
select, 
textarea {
	border: 1px solid #827717;
	border-radius: 5px;
	padding: 0.25em 0.5em;
	width: 100%;
	
	text-transform: capitalize;
}
textarea {
	height: 5em;
}
.btn {
	border-radius: 5px;
	padding: 0.5em 0.75em;
}
span.required {
	font-weight: 600;
	color: #ab000d;
}




/* --- CSV List --- */
#csv-list {
	width: auto;
}
/* --- Each Row --- */
#csv-list .record {
	font-size: 0.9em;
	border-top: 1px solid #827717;
	border-bottom: 1px solid #827717;
}
/* --- Highlight Action --- */
#csv-list .record:hover,
#csv-list .record:active,
#csv-list .record:focus {
	background-color: #f9fbe7;
}
/* --- Add Stripes --- */
#csv-list .record:nth-child(odd)  { 
	background-color: #ffe0b2;
}
/* --- Inline Cells --- */
#csv-list .record span {
	border-bottom: 1px dotted #999;
	display: inline-block;
	padding: 1px 0.25%;
	vertical-align: top;
}
/* --- Header Style --- */
#csv-list .record:first-of-type  {
	background: #afb42b;
	font-weight: 600;
	text-transform: capitalize;
	font-variant: small-caps;
}
/* --- Ajax Loading Graphic --- */
#loading {
	text-align: center;
}










/* ----- LARGE SCREEN PRESENTATION ----- */
@media (min-width: 768px) {

	body {
		line-height: 1.6em;
		margin: 0 auto;
		max-width: 50rem;
		width: 100%;
	}
	nav a {
		display: inline-block;
	}

	label {
		display: inline-block;
		width: 20%;
		text-align: right;
	}
	textarea,
	input[type="text"],
	select {
		width: 60%;
	}
	#csv-list .record span {
		border: 0;
	}

}



/* style sheet for all printing */
@media print {

	body {
		font-size: 11pt;
		line-height: 110%;
		margin: 0 auto;
		max-width: 100%;
		width: 100%;
	}
	@page {
		size: A4 landscape;
	}
	#csv-list .record:nth-child(odd)  { 
		background-color: #fff;
	}
	#csv-list .record span {
		padding: 2px 4px;
	}
	.movie .record span:first-of-type,
	.movie .record span:nth-of-type(2) {
		background-color: #f5f5f5;
	}
	.hidden-print {
		display: none;
	}

	#qrcode img {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
	}

}

