/* This style sheet is used by GED2WEB when generating HTML family tree pages */
:root {
  color-scheme: light dark;
}
body {
	font-size: 100%;
	line-height: 1.6; 
	margin: 5px auto; 
	max-width: 64em;
	padding: 5px;
}
a { color: #283593; }
blockquote {
	border-left: 5px solid #ffd600;
	padding: 5px; 
}
pre { background: #333333; }
code {
	color: #64DD17;
	background: #333333;
	font-size: 105%;
	padding: 5px;
}
img { 
	max-width: 100%; 
	padding: 5px; 
}
table  { 
	overflow: auto; 
	width: 100%; 
}
td, th {
    padding: 5px;
}
tr:first-child {
	font-weight: 600;
	text-transform: capitalize;
}

@media (prefers-color-scheme: dark) {
	a { color: #9FA8DA; }
}

@media only screen and (min-width: 40rem) {
	.columns { column-count: 2; }
}
