/* ----- MOVIE STYLES ----- */



#addmovi div {
	margin: 5px 5px;
}
#final {
	background: #eceff1;
	padding: 5px;
}
label {
	display: inline-block;
	min-width: 20%;
	/* text-align: right; */
}
select,
textarea,
input[type="text"] {
	display: inline-block;
	min-width: 50%;
}
.required {
	color: #c62828;
	font-weight: 600;
}



/* --- TITLE --- */
.movie .record span:first-of-type { 
	font-weight: 600;
	width: 80%;
}
/* --- SERIES --- */
.movie .record span:nth-of-type(2) {
	width: 20%;
}
.movie .record span:nth-of-type(3), 
.movie .record span:nth-of-type(4) {
	text-align: left;
	width: 100%;
}
.movie .record span:nth-of-type(5), 
.movie .record span:nth-of-type(6) {
	width: 40%;
}
.movie .record span:nth-of-type(7) {
	width: 20%;
}


/* --- Add movie --- */
#catalogue li {
	border: 1px solid #c62828;
	/* border-radius: 5px; */
    display: inline-block;
	font-size: 75%;
	height: 320px;
	margin: 0 2px 2px 0;
	overflow: hidden;
	padding: 2px;
    text-align: center;
    vertical-align: top;
	width: 19%;
}
#poster {
	background: #fff;
	border: 1px solid #eceff1;
	float: right; 
	margin: 5px;
	max-width: 180px; 
	padding: 5px;
}
.poster-small { 
	border-radius: 3px;
	width: 100%;
	height: auto;
	max-height: 180px;
}



@media (min-width: 800px) {

	.movie .record span:first-of-type { 
		font-weight: 600;
		width: 45%;
	}
	.movie .record span:nth-of-type(2) {
		display: inline-block;
		width: 10%;
	}
	.movie .record span:nth-of-type(3) {
		display: inline-block;
		width: 45%;
	}
	.movie .record span:nth-of-type(4) {
		display: inline-block;
		width: 55%;
	}
	.movie .record span:nth-of-type(5),
	.movie .record span:nth-of-type(6),
	.movie .record span:nth-of-type(7) {
		display: inline-block;
		width: 15%;
	}

}


/* style sheet for all printing */
@media print {
	
	.movie .record span:first-of-type { 
		font-weight: 600;
		width: 30%;
	}
	.movie .record span:nth-of-type(2) {
		display: inline-block;
		width: 3%;
	}
	.movie .record span:nth-of-type(3) {
		display: inline-block;
		width: 30%;
	}
	.movie .record span:nth-of-type(4) {
		display: inline-block;
		width: 20%;
	}
	.movie .record span:nth-of-type(5) {
		width: 9%;
	}
	.movie .record span:nth-of-type(6) {
		display: inline-block;
		width: 3%;
	}

}