/* ----- MOVIE STYLES ----- */



.movie .record span:first-of-type {
	font-weight: 600;
	text-align: left;
	width: 90%;
}
.movie .record span:nth-of-type(2) {
	font-weight: 600;
	width: 10%;
}
.movie .record span:nth-of-type(3),
.movie .record span:nth-of-type(4),
.movie .record span:nth-of-type(5) {
	text-align: left;
	width: 100%;
}
.movie .record span:nth-of-type(6),
.movie .record span:nth-of-type(7),
.movie .record span:nth-of-type(8),
.movie .record span:nth-of-type(9),
.movie .record span:nth-of-type(10) {
	width: 25%;
}


/* --- Add movie --- */
#catalogue li {
	border: 1px solid #ffe0b2;
	border-radius: 5px;
    display: inline-block;
	height: 320px;
	margin: 0 2px 2px 0;
	overflow: hidden;
	padding: 2px;
    text-align: center;
    vertical-align: top;
	width: 19%;
}
#poster { 
	max-width: 180px; 
	border: 1px solid #ccc;
	float: right; 
	padding: 5px;
	margin: 5px;
}
.poster-small { 
	border-radius: 3px;
	width: 100%;
	max-width: 150px;
	height: auto;
	max-height: 2400px;
}



@media (min-width: 768px) {

	.movie .record span:first-of-type { /* Title */
		font-weight: 600;
		width: 90%;
	}
	.movie .record span:nth-of-type(2) { /* Series */
		width: 10%;
	}
	.movie .record span:nth-of-type(3) { /* Plot */
		width: 70%;
	}
	.movie .record span:nth-of-type(4) { /* Genre */
		width: 30%;
	}
	/* --- 2nd row output --- */
	.movie .record span:nth-of-type(5) {  /* Actors */
		font-size: 85%;
		width: 60%;
	}
	.movie .record span:nth-of-type(6),   /* Year */
	.movie .record span:nth-of-type(7),   /* Mins */
	.movie .record span:nth-of-type(8),   /* Format */
	.movie .record span:nth-of-type(9) { /* Score */
		font-size: 85%;
		width: 10%;
	}

}
