/* ----- MOVIE STYLES ----- */



#addmovi div {
	margin: 5px 5px;
}
#final {
	border: 1px solid #d5d5d5;
	padding: 20px;
}
label {
	display: inline-block;
	min-width: 20%;
	/* text-align: right; */
}
select,
textarea,
input[type="text"] {
	display: inline-block;
	min-width: 50%;
}
.required {
	color: #c62828;
	font-weight: 600;
}



.movie .record span {
	display: inline-block;	
}
/* --- TITLE --- */
.movie .record span:first-of-type { 
	font-weight: 600;
	width: 75%;
}
/* --- SERIES --- */
.movie .record span:nth-of-type(2) {
	font-weight: 600;
	width: 25%;
}
.movie .record span:nth-of-type(3), 
.movie .record span:nth-of-type(4), 
.movie .record span:nth-of-type(5), 
.movie .record span:nth-of-type(6) {
	text-align: left;
	width: 25%;
}
.movie .record span:nth-of-type(7),
.movie .record span:nth-of-type(8) {
	display: none;
	visibility: hidden;
}



/* --- Add movie --- */
#catalogue li {
	border: 1px solid #d5d5d5;
	/* border-radius: 5px; */
    display: inline-block;
	font-size: 75%;
	height: 320px;
	margin: 0 2px 2px 0;
	overflow: hidden;
	padding: 2px;
    text-align: center;
    vertical-align: top;
	width: 19%;
}
#poster {
	background: #fff;
	border: 1px solid #eceff1;
	float: right; 
	margin: 5px;
	max-width: 180px; 
	padding: 5px;
}
.poster-small { 
	border-radius: 3px;
	/* width: 100%; */
	min-height: 150px;
	max-height: 200px;
}



@media (min-width: 800px) {

	.movie .record span:first-of-type { 
		font-weight: 600;
		width: 40%;
	}
	.movie .record span:nth-of-type(2),
	.movie .record span:nth-of-type(3),
	.movie .record span:nth-of-type(4),
	.movie .record span:nth-of-type(5),
	.movie .record span:nth-of-type(6) {
		display: inline-block;
		width: 12%;
	}
	.movie .record span:nth-of-type(7) {
		display: inline-block;
		font-size: 70% !important;
		visibility: visible;
		width: 52%;
	}
	.movie .record span:nth-of-type(8) {
		display: inline-block;
		font-size: 70% !important;
		visibility: visible;
		width: 48%;
	}

}


/* style sheet for all printing */
@media print {
	#header {
		display: none;
		visibility: hidden;
	}
	.movie .record span:first-of-type { 
		font-weight: 600;
		width: 45%;
	}
	.movie .record span:nth-of-type(2) {
		display: inline-block;
		width: 5%;
	}
	.movie .record span:nth-of-type(3),
	.movie .record span:nth-of-type(4),
	.movie .record span:nth-of-type(6) {
		display: inline-block;
		width: 10%;
	}
	.movie .record span:nth-of-type(5) {
		display: inline-block;
		width: 20%;
	}

}