/* GRID VIEW
–––––––––––––––––––––––––––––––––––––––––––––––––– */
* {
	box-sizing: border-box;
}

body,
.container {
	max-width: 99vw;
	padding: 5px;
	margin: 0 auto;
}

.container-fluid {
	width: 98%;
	margin: 1%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



/* For Mobile Phones
–––––––––––––––––––––––––––––––––––––––––––––––––– */
[class*="col-"] {
    float: left;
    padding: 5px;
    width: 100%;
}



/* Extra Small Devices (Phones, 600px And Down) 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (min-width: 40rem) {
	.col-s25 {width: 25%;}
	.col-s33 {width: 33.3333%;}
	.col-s50 {width: 50%;}
	.col-s66 {width: 66.6666%;}
	.col-s75 {width: 75%;}
	.column {width: 100%;}
	
	.hidden { display: none; }
} 



/* Small Devices (Portrait Tablets And Large Phones, 600px And Up)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (min-width: 60rem) {
	.col-m25 {width: 25%;}
	.col-m33 {width: 33.3333%;}
	.col-m50 {width: 50%;}
	.col-m66 {width: 66.6666%;}
	.col-m75 {width: 75%;}
	.column {width: 100%;}
	
	.hidden { display: none; }
	
	body{
		max-width: 70rem;
		

} 



/* MEDIUM DEVICES (LANDSCAPE TABLETS, 768PX AND UP)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (min-width: 1280px) {
	.col-l25 {width: 25%;}
	.col-l33 {width: 33.3333%;}
	.col-l50 {width: 50%;}
	.col-l66 {width: 66.6666%;}
	.col-l75 {width: 75%;}
	.column {width: 100%;}
	
	.hidden { display: none; }
	body{
		max-width: 1280px;
	}
} 



/* NAVIGATION BAR
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (min-width: 640px) {
	.aside ul { column-count: 2; }
}
@media only screen and (min-width: 1024px) {
	.aside ul { column-count: 2; }
}
@media only screen and (min-width: 1280px) {
	.aside ul { column-count: 3; }
}



@media only screen and (orientation: landscape) {
	body {
		/* background: #c33; */
	}
}

