/* IMAGES
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Standard Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
img {
	display: block;
	margin: 0 auto;
	clear: both;
	
	padding: 4px;
	border: 1px solid var(--mono-mid);
	
	max-width: 90%;
}
.caption {
	font-size: 85%;
	padding: 0 1rem 1rem 1rem;
	text-align: center;
	word-wrap: initial;
}



/* logo sizing */
p img[src*="#logo"] {
	width: 320px;
}
/* full-size non-gallery image */
p img[src*="#full"] {
	width: 90vw;
	height: calc(90vw * 0.66);
	max-width: 1024px;
	max-height: 1024px;
}





/* Image Gallery
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.gallery {
	text-align: center;
}

.gallery p {
	display: table;
	float: left;
	max-width: 400px;
}

/* crop image */
.gallery p img {
	display: block;
	object-fit: cover;
	object-position: 50% 75%;

	background: var(--mono-lite);

	height: 240px;
	width: 180px;

	transition: all 200ms ease-in;
	filter: grayscale(1) opacity(.8);	
}
.gallery p img:hover {
	filter: grayscale(0) opacity(1);
}






/* Larger Screens
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media only screen and (min-width: 640px) {
	.gallery p { display: inline-grid; }
	.gallery { column-count: 2; }
}
@media only screen and (min-width: 1024px) {
	.gallery { column-count: 3; }
}
@media only screen and (min-width: 1280px) {
	.gallery { column-count: 4; }
}

