/* IMAGES
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Standard Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */
p > img {
	display: block;
	margin: 0 auto;
	max-width: 99%;

	clear: both;
	
	margin: 0 auto;
	padding: 1rem;
}
p > .caption {
	font-size: 85%;
	padding: 0 1rem 1rem 1rem;
	text-align: center;
	word-wrap: initial;
}


/* logo sizing */
p > img[src*="#logo"] {
	width: 320px;
}
/* full-size non-gallery image */
p > img[src*="#full"] {
	width: 90vw;
	height: calc(90vw * 0.66);
	max-width: 1024px;
	max-height: 1024px;
}






/* Image Gallery
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.gallery {
	text-align: center;
}

.gallery p {
	
	border: 1px solid var(--blue);
	border-radius: 3px;
	
	max-width: 240px;
}
.gallery p:hover {
	border: 1px solid var(--red);
}
.gallery p img {
	display: block;
	object-fit: cover;

	transition: all 200ms ease-in;
	filter: grayscale(1) opacity(.8);	
}
.gallery p img:hover {
	filter: grayscale(0) opacity(1);
}



@media (min-width: 40rem) {

	.gallery p {
		display: inline-grid;
		margin: 2rem 1rem 2rem 1rem;
	}
	
	
}