/* MOBILE FRIENDLY TABLE
–––––––––––––––––––––––––––––––––––––––––––––––––– */



/* Ajax Loading Graphic 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#loading {
	width: 100%;
	margin: auto;
}
#loading img {
	width: 100px;
}





#csv-list {
	clear: both;
	width: auto;
}

/* Each Row 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#csv-list .record {
	border-bottom: 2px solid #336699;
}

/* Add Stripes 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#csv-list .record:nth-child(odd)  { 
	background: rgba(51,102,153,0.2)
}

/* Highlight
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#csv-list .record:hover,
#csv-list .record:active,
#csv-list .record:focus {
	background: rgba(153,51,51,0.2)
}

/* Inline Cells 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#csv-list .record span {
	font-size: 90%;
	padding: 1px 3px;
	vertical-align: top;
}

/* Table Header 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#csv-list .record:first-of-type  {
    background: rgba(51,102,153,0.6);
	font-weight: 600;
	text-transform: capitalize;
}





.movie .record span {
	display: inline-block;	
}
/* --- TITLE --- */
.movie .record span:first-of-type { 
	font-weight: 600;
	width: 75%;
}
/* --- SERIES --- */
.movie .record span:nth-of-type(2) {
	font-weight: 600;
	width: 25%;
}
.movie .record span:nth-of-type(3), 
.movie .record span:nth-of-type(4), 
.movie .record span:nth-of-type(5), 
.movie .record span:nth-of-type(6) {
	text-align: left;
	width: 25%;
}
.movie .record span:nth-of-type(7),
.movie .record span:nth-of-type(8) {
	display: none;
	visibility: hidden;
}


@media (min-width: 800px) {

	.movie .record span:first-of-type { 
		font-weight: 600;
		width: 40%;
	}
	.movie .record span:nth-of-type(2),
	.movie .record span:nth-of-type(3),
	.movie .record span:nth-of-type(4),
	.movie .record span:nth-of-type(5),
	.movie .record span:nth-of-type(6) {
		display: inline-block;
		width: 12%;
	}
	.movie .record span:nth-of-type(7) {
		display: inline-block;
		font-size: 75% !important;
		visibility: visible;
		width: 52%;
	}
	.movie .record span:nth-of-type(8) {
		display: inline-block;
		font-size: 75% !important;
		visibility: visible;
		width: 48%;
	}

}


